@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;
}
hr{
    width: 80%;
    color: grey;
}
.btn{
    border-radius: 0px;
}
.btn-default, .btn-default a{
    background-color: white !important;
    color: black !important;
}
.navbar{
    border: none;
    background-color: white !important;
}
.nav-item{
    font-size: 17pt;
    color: black;
}
.nav-item a{
    color: grey;
}
.carousel{
    margin-bottom: 5%;
}
.carousel-item img {
    height: 80%;
    width: 80%;
}
.carousel-caption{
    align-items: center;
    justify-content: center;
}
.section {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 3%;
}
.section h1{
    font-weight: bold;
}
.section p{
    color: grey;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
}