@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

a{
    color: inherit;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
.highlight:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: pointer;
}

#navbar {
    background-color: #eec0c6 !important;
}

#navbar * {
    color: white;
}

.btn {
    border-radius: 0px;
}

.btn-default,
.btn-default a {
    background-color: white !important;
    color: black !important;
}

.navbar {
    border: none;
    background-color: white !important;
}

.nav-item {
    font-size: 17pt;
    color: black;
}

.nav-item a {
    color: grey;
}

.carousel-item img {
    height: 80%;
    width: 80%;
}

.carousel-caption {
    align-items: center;
    justify-content: center;
}

.section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    padding-top: 3%;
}

.section h1 {
    font-weight: bold;
}

.description {
    background-color: #eec0c6;
    color: white;
}

.description h1 {
    font-size: 90pt;
    text-shadow: -5px 5px #7efac6;
}
.description p {
    font-size: 14pt;
}
.title {
    text-shadow: -5px 5px rgb(44, 206, 255);
}

.updates {
    background-color: #eec0c6;
}

.updates h3 {
    font-style: italic;
}

.updates img {
    max-width: 100%;
}

.updates h3 {
    color: white;
    font-weight: bold;
}

.meet {
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meet img {
    width: 200px !important;
    height: 200px;
}

.join {
    background-color: rgb(94, 93, 93);
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.join h1 {
    text-shadow: 2px 2px #7efac6;
}
.join p {
    margin-bottom: 0px;
}
.releases-body {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}
.releases-body #navbar{
    background-color: #48e0a1;
}
.releases-body .updates {
    background-color: transparent !important;
}
